*{

}

body {
  margin-left: 20px;
  width:90%;
  background-image: url('../images/flower2-copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    font-size: 3.5rem;
    color: #2C3B59;
    padding:20px ;
    text-align: center;
}

h2{
  font-size: 2.5rem;
  color: #2C3B59;
  text-decoration: underline;
  padding: 50px 0 20px 20px;
  text-align: center;
}

h6{

  text-align: center;
}

a{
  background-color: #415E8C;
  color: #c9af98;
  text-decoration: none;
  padding: 20px;
  border: 5px outset #2C3B59;
  border-radius:5%;
  transition-duration: .4s;
  margin: 3px;
}

a:hover{
  background-color:#c9af98;
  color:#2C3B59;
  border:5px outset #415E8C;
}

nav{
  padding: 20px 0 30px 10px;
  width: 550px;
  margin: 20px auto;
}

h3{
  font-size: 1.99rem;
  color: #415E8C;
  padding: 50px 0 20px 20px;
  text-decoration: overline;
  text-align: center;
}

h4{
  font-size: 1.5rem;
  color: #2C3B59;
  padding: 20px;
}

h5{
  font-size: 1.5rem;
  color: #000000;
  padding: 20px;

}

li{

}

ol,ul {
  padding-left: 40px;
}

ol li{
  padding: 10px ;
  list-style: decimal;
  padding-bottom: 20px;
}

ul li{
  padding: 10px;
  list-style: initial;
}

b {
  font-weight: bold;
}

p {
  padding: 0 0 20px 40px;
}

.image-container {
  margin:auto;
  text-align: center;
}

.my-notes {
  padding-top: 30px;
}

flower.jpg {
  width=100 height=132;
}
